@model FoodWaste.Models.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Product Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            Expiration Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ExpiryDate)
        </dd>
        <dt class="col-sm-2">
            State
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.State)
        </dd>
        <dt class="col-sm-2">
            Restaurant Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Name)
        </dd>
        <dt class="col-sm-2">
            Restaurant Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Address)
        </dd>
        <dt class="col-sm-2">
            Restaurant Phone Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
