@model IEnumerable<FoodWaste.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

@if ((bool)ViewData["IsCurrentUserRestaurant"])
{
    <p>
        <a asp-action="Create">Add a product</a>
    </p>
}
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index" asp-route-clearFilter=true>Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Product Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Expiration Date</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StateSortParm"]">State</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    <a asp-action="Reserve" asp-route-id="@item.Id">Reserve</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (item.RestaurantId.Equals(ViewData["CurrentRestaurantUserId"]))
                    {
                        @("|") <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        @("|") <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <a asp-action="Index" asp-route-page=@ViewData["Page"] asp-route-pageSwitch=-1>Previous page</a> | 
            <a asp-action="Index" asp-route-page=@ViewData["Page"] asp-route-pageSwitch=1>Next page</a>
        </p>
    </div>
</form>